{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/account/find_id.css' %}" />
    <title>아이디 찾기</title>
</head>

<body>
    <form method="post">
        {% csrf_token %}
        <h1><a href="/index">Hanwooplz</a></h1>
        <label for="email">이메일</label>
        <input type="email" name="email" required>
        <br>
        <label for="name">이&nbsp;름</label>
        <input type="text" name="name" required>
        <br>
        <input type="submit" value="아이디 찾기">
    </form>
</body>

</html>
