{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/account/found_id.css' %}" />
    <title>아이디 찾기</title>
</head>

<body>
    <div class="page-box">
        <h1><a href="/index">Hanwooplz</a></h1>
        <p>당신의 아이디는 <b>{{ username }}</b> 입니다.</p>
        <div class="button-wrapper">
            <a href="/login">로그인</a>
            <a href="/find-pw">비밀번호 찾기</a>
        </div>
    </div>
</body>

</html>
