{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/account/login.css' %}" />
    <title>로그인</title>
</head>

<body>
    <form method="post">
        {% csrf_token %}
        <h1><a href="/index">Hanwooplz</a></h1>
        {{ form.as_p }}
        <input type="submit" value="로그인">
        <div class="account-buttons">
            <a href="/register">회원가입</a>
            <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <a href="/find-id">아이디 찾기</a>
            <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <a href="/find-pw">비밀번호 찾기</a>
        </div>
    </form>
</body>

</html>
