{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/account/myinfo.css' %}" />
    <title>내 정보</title>
</head>

<body>
    {% include "nav.html" %}
    <main class="profile">
        <div class="profile-top">
            <div class="profile-left">
                <form class="profile-pic-upload" method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ profile_form.as_p }}
                </form>
                <div class="profile-pic-wrapper">
                    {% if user.user_img %}
                    <div class="profile-pic"><img src="{{ user.user_img.url }}">
                    {% else %}
                    <div class="profile-pic"><img src="{% static 'img/basicuser.png' %}">
                    {% endif %}
                    {% if user_id == request.user.id %}
                    <input type="submit" value="프로필 수정" onclick="window.location.href='/edit-profile';">
                    {% endif %}
                    </div>
                    {% if user.is_authenticated and user_id != request.user.id %}
                    <button onclick="window.location.href='/chat/0/{{ user_id }}';">채팅하기</button>
                    {% elif not user.is_authenticated %}
                    <button onclick="alert('로그인이 필요합니다.');">채팅하기</button>
                    {% endif %}
                </div>
                <div class="external-link-wrapper">
                    {% if github_link %}
                    <div id="github-link" class="external-link">
                        <a href="{{ github_link }}" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                    {% endif %}
                    {% if linkedin_link %}
                    <div id="linkedin-link" class="external-link">
                        <a href="{{ linkedin_link }}" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="profile-right">
                <div class="profile-right-top">
                    <h3 class="profile-username">{{ username }}</h3>
                    <br>
                    <h1 class="profile-fullname">{{ full_name }}</h1>
                </div>
                <div class="profile-right-bottom">
                    <div class="profile-bio-wrapper">
                        <div class="profile-bio-job">
                            <span class="profile-info-job">직무:{{ job }}</span>
                            <br>
                            <span class="profile-info-techstack">
                                주요 기술스택:
                                {% if tech_stack|length > 1 %}
                                {{ tech_stack|join:", " }}
                                {% else %}
                                {{ tech_stack.0 }}
                                {% endif %}
                            </span>
                        </div>
                        <div class="profile-bio-career">
                            <span class="profile-info-career">
                                {% if career == 0 %}
                                경력: 신입
                                {% else %}
                                경력: {{ career }}년
                                {% endif %}
                            </span>
                            <br>
                            <span class="profile-info-career-detail">상세 경력:{{ career_detail }}</span>
                            <p class="profile-intro">
                                한줄소개:{{ introduction }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-page">
            <div class="profile-page-nav">
                <div class="profile-page-block">
                    <a class="category-button" data-category="postportfolio" href="#">Portfolio</a>
                </div>
                <div class="profile-page-block">
                    <a class="category-button" data-category="postproject" href="#">Projects</a>
                </div>
                <div class="profile-page-block">
                    <a class="category-button" data-category="postquestion" href="#">QnA</a>
                </div>
            </div>
            <div id="category-posts" class="profile-page-inner">
                {% if posts %}
                {% for post in posts %}
                <div class="grid-item">
                    <a
                        href="{% if post.category == 'portfolio' %}{% url 'portfolio:read' post.post_id %}{% elif post.category == 'project' %}{% url 'project:read' post.post_id %}{% elif post.category == 'question' %}{% url 'qna:read' post.post_id %}{% endif %}">
                        <h2>{{ post.title }}</h2>
                    </a>
                    <p>글쓴이:{{ username }}</p>
                    <p>게시일:{{ post.created_at }}</p>
                </div>
                {% endfor %}
                {% else %}
                {% if selected_category == "postportfolio" %}<p>표시할 포트폴리오 게시물이 없습니다.</p>
                {% elif selected_category == "postproject" %}<p>표시할 팀원모집 게시물이 없습니다.</p>
                {% elif selected_category == "postquestion" %}<p>표시할 질의응답 게시물이 없습니다.</p>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </main>
    {% include "chatbot/chatbot.html" %}
</body>
<script src="{% static 'js/account/myinfo.js' %}"></script>

</html>
