{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/account/user_info.css' %}" />
    <title>{{ full_name }} 님의 페이지</title>
</head>

<body>
    {% include "nav.html" %}
    <main class="profile">
        <div class="profile-info">
            <div class="profile-left">
                <div class="profile-pic">
                    {% if profile_image %}
                    <img src="{{ profile_image.url }}">
                    {% else %}
                    <img src="{% static 'img/basicuser.png' %}">
                    {% endif %}
                    {% if user_id == request.user.id %}
                    <a href="/edit-profile">프로필 수정</a>
                    {% endif %}
                </div>
                <div class="action-button-wrapper">
                    {% if request.user.is_authenticated and user_id != request.user.id %}
                    <div id="chat-link" class="action-button">
                        <a href="/chat" target="_blank">
                            <i class="fas fa-comment-dots"></i>
                        </a>
                    </div>
                    {% endif %}
                    {% if github_link %}
                    <div id="github-link" class="action-button">
                        <a href="{{ github_link }}" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                    {% endif %}
                    {% if linkedin_link %}
                    <div id="linkedin-link" class="action-button">
                        <a href="{{ linkedin_link }}" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="profile-right">
                <h3 class="profile-username">{{ username }}</h3>
                <br>
                <h1 class="profile-fullname">{{ full_name }}</h1>
                <br>
                <span class="profile-position">직무:{{ job }}</span>
                <br>
                <span class="profile-techstack">
                    주요 기술스택:
                    {{ tech_stack|join:", " }}
                </span>
                <br>
                <span class="profile-career-meta">
                    {% if career == 0 %}
                    경력: 신입
                    {% else %}
                    경력: {{ career }}년
                    {% endif %}
                </span>
                <br>
                <span class="profile-career-detail">상세 경력:{{ career_detail }}</span>
                <br>
                <span class="profile-intro">한줄소개:{{ introduction }}</span>
            </div>
        </div>
        <div class="profile-post">
            <div class="profile-post-nav">
                <div class="profile-post-tab">Portfolio</div>
                <div class="profile-post-tab">Project</div>
                <div class="profile-post-tab">Question</div>
                <div class="profile-post-tab">Answer</div>
            </div>
            <div class="profile-post-grid">
                {% if portfolio_list %}
                {% for portfolio in portfolio_list %}
                <div class="profile-post-tile">
                    <h2><a href="/portfolio/{{ portfolio.portfolio_id }}">{{ portfolio.title }}</a></h2>
                    <span>게시일:{{ portfolio.created_at }}</span>
                </div>
                {% endfor %}
                {% else %}
                <span>표시할 포트폴리오 게시물이 없습니다.</span>
                {% endif %}
            </div>
            <div class="profile-post-grid">
                {% if project_list %}
                {% for project in project_list %}
                <div class="profile-post-tile">
                    <h2><a href="/project/{{ project.project_id }}">{{ project.title }}</a></h2>
                    <span>게시일:{{ project.created_at }}</span>
                </div>
                {% endfor %}
                {% else %}
                <span>표시할 프로젝트 게시물이 없습니다.</span>
                {% endif %}
            </div>
            <div class="profile-post-grid">
                {% if question_list %}
                {% for question in question_list %}
                <div class="profile-post-tile">
                    <h2><a href="/qna/{{ question.question_id }}">{{ question.title }}</a></h2>
                    <span>게시일:{{ question.created_at }}</span>
                </div>
                {% endfor %}
                {% else %}
                <span>표시할 질문 게시물이 없습니다.</span>
                {% endif %}
            </div>
            <div class="profile-post-grid">
                {% if answer_list %}
                {% for answer in answer_list %}
                <div class="profile-post-tile">
                    <h2><a href="/qna/{{ answer.question_id }}">{{ answer.content }}</a></h2>
                    <span>게시일:{{ answer.created_at }}</span>
                </div>
                {% endfor %}
                {% else %}
                <span>표시할 답변 게시물이 없습니다.</span>
                {% endif %}
            </div>
        </div>
    </main>
    <!-- {% include "chatbot/chatbot.html" %} -->
</body>
<script src="{% static 'js/account/userInfo.js' %}"></script>

</html>
