{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/portfolio/write.css' %}" />
    <title>게시글 작성</title>
</head>

<body>
    {% include "nav.html" %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="write-box">
            <div class="write-item">
                <span>제목</span>
                <input type="text" name="title" placeholder="최대 50자까지" value="{{ title }}">
            </div>
            <div class="write-item">
                <span>프로젝트 기간</span>
                <div>
                    <input type="date" name="start_date" placeholder="시작일" value="{{ start_date }}">
                    <span>~</span>
                    <input type="date" name="end_date" placeholder="종료일" value="{{ end_date }}">
                </div>
            </div>
            <div class="write-item">
                <span>참여인원수</span>
                <input type="text" name="members" placeholder="숫자만 입력" value="{{ members }}">
            </div>
            <div class="write-item">
                <span>기술 스택</span>
                <input type="text" name="tech_stack" placeholder="공백으로 구분하여 입력" value="{{ tech_stack }}">
            </div>
            <div class="write-item">
                <span>외부 링크</span>
                <input type="text" name="ext_link" placeholder="프로젝트와 관련된 페이지의 링크" value="{{ ext_link }}">
            </div>
            <div class="write-item">
                <span>내용</span>
                <textarea name="content" placeholder="프로젝트에 관해 서술">{{ content }}</textarea>
            </div>
        </div>
        <div class="submit-button-wrapper">
            <input type="submit" class="submit-button" value="작성 완료">
        </div>
    </form>
</body>
<script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'js/tinymce.js' %}"></script>

</html>
