{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/qna/list.css' %}" />
    <title>QnA</title>
</head>

<body>
    {% include "nav.html" %}
    <main class="main-container">
        <h2>QnA</h2>
        <form method="get">
            <span>SEARCH</span>
            <select name="search-type">
                <option value="title-content">제목+내용</option>
                <option value="writer">작성자</option>
            </select>
            <input type="text" name="search">
            <input type="submit" value="검색">
        </form>
        {% if question_list %}
        <table class="post-table">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성 일시</th>
            </tr>
            {% for question in question_list %}
            <tr>
                <td>{{ question.question_id }}</td>
                <td>
                    <a href="/qna/{{ question.question_id }}">
                        {{ question.title }}
                    </a>
                </td>
                <td>
                    <a href="/@{{ question.author }}">
                        {{ question.author }}
                    </a>
                </td>
                <td>{{ question.created_at }}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="page">
            {% if previous %}
            <a href="?page={{ previous }}">◀ 이전</a>
            {% endif %}
            {% for page in page_range %}
                {% if page == current %}
                    <a href="?page={{ page }}"><b>{{ page }}</b></a>
                {% else %}
                    <a href="?page={{ page }}">{{ page }}</a>
                {% endif %}
            {% endfor %}
            {% if next %}
                <a href="?page={{ next }}">다음 ▶</a>
            {% endif %}
        </div>
        {% else %}
        <span>게시물이 없습니다.</span>
        {% endif %}
        <div class="action-button-wrapper">
            <a href="/qna/write-question">글쓰기</a>
        </div>
    </main>
    <!-- {% include "chatbot/chatbot.html" %} -->
</body>
<script src="{% static 'js/qna/list.js' %}"></script>

</html>
