{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/qna/read.css' %}">
    <title>{{ title }}</title>
</head>

<body>
    {% include "nav.html" %}
    <main class="main-container">
        <div class="question">
            <h3 class="title">{{ title }}</h3>
            <div class="keyword-container">
                {% for kw in keyword %}
                <div class="keyword">#{{ kw }}</div>
                {% endfor %}
            </div>
            <div class="content">{{ content | safe }}</div>
            <div class="subsidiary">
                <div class="card">
                    작성자 <a href="/@{{ author }}"><b>{{ author }}</b> 님</a>
                    {% if request.user.is_authenticated and author_id != request.user.id %}
                    <button class="button-blue" onclick="window.location.href = '/chat'">채팅하기</button>
                    {% endif %}
                    <p>작성 일시: {{ created_at }}</p>
                </div>
            </div>
            <div class="reaction-button-wrapper">
                <button class="button-sky" id="show-comment">댓글</button>
                <button class="button-sky">
                    <a href="/qna/like/{{ question_id }}">추천 {{ like }} 회</a>
                </button>
            </div>
        </div>
        <div class="action-button-wrapper">
            {% if author_id == request.user.id %}
            <button class="button-black" onclick="window.location.href = '/qna/delete-question/{{ question_id }}'">삭제</button>
            <button class="button-black" onclick="window.location.href = '/qna/edit-question/{{ question_id }}'">수정</button>
            {% endif %}
            {% if request.user.is_authenticated and not answered %}
            <button class="button-black" onclick="window.location.href = '/qna/write-answer/{{ question_id }}'">답변</button>
            {% endif %}
            <button class="button-black" onclick="window.location.href = '/qna'">목록으로</button>
        </div>
        <div id="comment-wrapper">
            {% include "comment/comment.html" %}
        </div>
        <div class="buffer-zone"></div>
        {% for asr in answer %}
        <div class="answer" data-answer-id="{{ asr.answer_id }}">
            <div class="content">{{ asr.content | safe }}</div>
            <div class="subsidiary">
                <div class="card">
                    작성자 <a href="/@{{ asr.username }}"><b>{{ asr.username }}</b> 님</a>
                    {% if request.user.is_authenticated and asr.author_id != request.user.id %}
                    <button class="button-blue" onclick="window.location.href = '/chat'">채팅하기</button>
                    {% endif %}
                    <p>작성 일시: {{ asr.created_at }}</p>
                </div>
            </div>
            <div class="reaction-button-wrapper">
                <button class="button-sky" id="show-comment">댓글</button>
                <button class="button-sky">
                    <a href="/qna/like/{{ question_id }}/{{ asr.id }}">추천 {{ asr.likes }} 회</a>
                </button>
            </div>
        </div>
        <div class="action-button-wrapper">
            {% if asr.author_id == request.user.id %}
            <button class="button-black" onclick="window.location.href = '/qna/delete-answer/{{ question_id }}/{{ asr.id }}'">삭제</button>
            <button class="button-black" onclick="window.location.href = '/qna/edit-answer/{{ question_id }}/{{ asr.id }}'">수정</button>
            {% endif %}
        </div>
        <div id="comment-wrapper">
            {% include "comment/comment.html" %}
        </div>
        {% endfor %}
    </main>
    <!-- {% include "chatbot/chatbot.html" %} -->
</body>
<script>
    let postId = '{{ post_id }}';
    let currentUser = '{{ request.user }}';
    let answerPostIdList = '{{ answer_post_id_list }}';
</script>
<script src="{% static 'js/qna/read.js' %}"></script>

</html>
