{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/qna/read.css' %}">
    <title>{{ title }}</title>
</head>

<body>
    {% include "nav.html" %}
    <main class="main-container">
        <div class="question">
            <h3 class="title">{{ title }}</h3>
            <div class="keyword-container">
                {% for kw in keyword %}
                <div class="keyword">#{{ kw }}</div>
                {% endfor %}
            </div>
            <div class="content">{{ content | safe }}</div>
            <div class="subsidiary">
                <div class="card">
                    <span>작성자</span>
                    <span><a href="/@{{ author }}"><b>{{ author }}</b> 님</a></span>
                    {% if request.user.is_authenticated and author_id != request.user.id %}
                    <a href="/chat">채팅하기</a>
                    {% endif %}
                    <span>작성 일시: {{ created_at }}</span>
                    {% if edited_at %}
                    <span>최종 수정 일시: {{ edited_at }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="reaction-button-wrapper">
                <button type="button" class="comment-show" question-id="{{ question_id }}">댓글</button>
                <button type="button" class="like-toggle" question-id="{{ question_id }}">추천 {{ like }} 회</button>
            </div>
        </div>
        <div class="action-button-wrapper">
            {% if request.user.is_authenticated and not answered %}
            <a href="/qna/write-answer/{{ question_id }}">답변</a>
            {% endif %}
            {% if author_id == request.user.id %}
            <a href="/qna/delete-question/{{ question_id }}">삭제</a>
            <a href="/qna/edit-question/{{ question_id }}">수정</a>
            {% endif %}
            <a href="/qna">목록으로</a>
        </div>
        {% include "comment/comment.html" %}
        {% for asr in answer %}
        <div class="answer">
            <div class="content">{{ asr.content | safe }}</div>
            <div class="subsidiary">
                <div class="card">
                    <span>작성자</span>
                    <span><a href="/@{{ asr.author }}"><b>{{ asr.author }}</b> 님</a></span>
                    {% if request.user.is_authenticated and asr.author_id != request.user.id %}
                    <a href="/chat">채팅하기</a>
                    {% endif %}
                    <span>작성 일시: {{ asr.created_at }}</span>
                    {% if edited_at %}
                    <span>최종 수정 일시: {{ asr.edited_at }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="reaction-button-wrapper">
                <button type="button" class="comment-show" answer-id="{{ asr.id }}">댓글</button>
                <button type="button" class="like-toggle" answer-id="{{ asr.id }}">추천 {{ asr.like }} 회</button>
            </div>
        </div>
        <div class="action-button-wrapper">
            {% if asr.author_id == request.user.id %}
            <a href="/qna/delete-answer/{{ asr.id }}">삭제</a>
            <a href="/qna/edit-answer/{{ asr.id }}">수정</a>
            {% endif %}
        </div>
        {% include "comment/comment.html" %}
        {% endfor %}
    </main>
    <!-- {% include "chatbot/chatbot.html" %} -->
</body>
<script>
    let postId = '{{ post_id }}';
    let currentUser = '{{ request.user }}';
    let answerPostIdList = '{{ answer_post_id_list }}';
</script>
<script src="{% static 'js/qna/read.js' %}"></script>

</html>
