{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/qna/write.css' %}" />
    <title>게시글 작성</title>
</head>

<body>
    {% include "nav.html" %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="write-box">
            <div class="write-item">
                <span>제목</span>
                <input type="text" name="title" placeholder="최대 50자까지" value="{{ title }}">
            </div>
            <div class="write-item">
                <span>주제(키워드)</span>
                <input type="text" name="keyword" placeholder="공백으로 구분하여 입력" value="{{ keyword }}">
            </div>
            <div class="write-item">
                <span>내용</span>
                <textarea name="content">{{ content }}</textarea>
            </div>
        </div>
        <div class="submit-button-wrapper">
            <input type="submit" class="submit-button" value="작성 완료">
        </div>
    </form>
</body>
<script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'js/tinymce.js' %}"></script>

</html>
