{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/qna/write.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/qna/read.css' %}" />
    <title>게시글 작성</title>
</head>

<body>
    {% include "nav.html" %}
    <section class="main">
        <div class="question-container">
            <h3 class="title">{{ title }}</h3>
            <div class="keyword-conatiner">
                {% for kw in keyword %}
                <div class="keyword">#{{ kw }} </div>
                {% endfor %}
            </div>
            <div class="content">{{ content | safe }}</div>
            <div class="subsidiary">
                <div class="card">
                    작성자: <a href="/@{{ author }}"><b>{{ author }}</b> 님</a>
                    <p>작성 일시: {{ created_at }}</p>
                </div>
            </div>
        </div>
        <form id="post" method="POST"
            action="{% if answer_id %}'/qna/edit_answer/{{ question_id }}/{{ answer_id }}{% else %}'/qna/write-answer/{{ question_id }}'{% endif %}"
            enctype="multipart/form-data">
            {% csrf_token %}
            <div class="write-box">
                <textarea id="content" name="content">{{ answer }}</textarea>
            </div>
            <div class="redirect-button">
                {% if author_id == request.user.id %}
                <input type="submit" class="delete-button" name="delete-button" value="삭제">
                <input type="submit" class="save-button" value="수정">
                {% else %}
                <input type="submit" class="save-button" value="글 작성">
                {% endif %}
            </div>
        </form>
    </section>
</body>
<script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'js/tinymce.js' %}"></script>

</html>
