{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/qna/write.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/qna/read.css' %}" />
    <title>게시글 작성</title>
</head>

<body>
    {% include "nav.html" %}
    <main class="qna-writer">
        <div class="question">
            <h3 class="title">{{ title }}</h3>
            <div class="keyword-container">
                {% for kw in keyword %}
                <div class="keyword">#{{ kw }}</div>
                {% endfor %}
            </div>
            <div class="content">{{ content | safe }}</div>
            <div class="subsidiary">
                <div class="card">
                    <span>작성자</span>
                    <span><a href="/@{{ author }}"><b>{{ author }}</b> 님</a></span>
                    <span>작성 일시: {{ created_at }}</span>
                    {% if edited_at %}
                    <span>최종 수정 일시: {{ edited_at }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="write-box">
                <div class="write-item">
                    <span>답변</span>
                    <textarea name="content">{{ answer }}</textarea>
                </div>
            </div>
            <div class="submit-button-wrapper">
                <input type="submit" class="submit-button" value="작성 완료">
            </div>
        </form>
    </section>
</body>
<script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'js/tinymce.js' %}"></script>

</html>
