{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/qna/write.css' %}" />
    <title>게시글 작성</title>
</head>

<body>
    {% include "nav.html" %}
    <section class="main">
        <form method="post" action="{% if question_id %}/qna/edit-question/{{ question_id }}{% else %}/qna/write-question{% endif %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="write-box">
                <input type="text" id="title" name="title" placeholder="제목" value="{{ title }}">
                <input type="text" id="keyword" name="keyword" placeholder="#주제" value="{{ keyword }}">
                <textarea id="content" name="content">{{ content }}</textarea>
            </div>
            <div class="submit-button-wrapper">
                {% if question_id %}
                <input type="submit" class="submit-button" value="수정">
                {% else %}
                <input type="submit" class="submit-button" value="글 작성">
                {% endif %}
            </div>
        </form>
    </section>
</body>
<script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'js/tinymce.js' %}"></script>

</html>
