.comment {
    margin-top: 20px;
}

.inactive {
    display: none;
}

.comment-entry {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f7f7f7;
    box-shadow: 0 0 5px #0000001a;
}

.comment-author {
    color: #3498db;
    font-weight: bold;
}

.comment-content {
    color: #333333;
}

.comment-createdat {
    color: gray;
    font-size: smaller;
}

.comment-bottom-wrapper{
    display: flex;
    justify-content: right;
}

.comment-like {
    padding: 6px 12px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    background-color: #3498db;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comment-like:hover {
    background-color: #217dbb;
}

.comment-delete {
    padding: 6px 12px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    background-color: #333333;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.comment-delete:hover {
    background-color: #555555;
}

#comment-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

#comment-submit-button-wrapper{
    display: flex;
    justify-content: right;
}

#comment-submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#comment-submit-button:hover {
    background-color: #217dbb;
}
