body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.page-box {
    width: 600px;
    padding: 30px;
    border: 1px solid #dddddd;
    border-radius: 20px;
    animation: slideIn 1s ease-in-out;
    box-shadow: 0 0 10px #00000033;
}

.page-box h1 {
    text-align: center;
}

.page-box p {
    color: red;
}

.page-box form {
    margin-top: 20px;
}

.submit-button-wrapper {
    display: flex;
    justify-content: right;
}

.page-box input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.page-box input[type="submit"]:hover {
    background-color: #555555;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
