body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.profile-container {
    padding: 50px 80px;
    border-radius: 20px;
    background-color: #ffffffd0;
    text-align: left;
    animation: slideIn 1s ease-in-out;
    box-shadow: 0 0 10px #00000033;
}

.profile-form a {
    display: block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.profile-form a:hover {
    background-color: #555555;
}

.profile-form p {
    width: fit-content;
    padding: 5px 10px;
    margin: 0;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.profile-form p:hover {
    background-color: #555555;
}

.profile-form input,
.profile-form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0000001a;
    box-sizing: border-box;
    resize: none;
}

.profile-form input[type="submit"] {
    padding: 10px 20px;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.profile-form input[type="submit"]:hover {
    background-color: #555555;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
}

#profile-image {
    width: 100px;
    height: 100px;
}

.profile-image-button-wrapper {
    display: flex;
    margin-top: 5px;
    gap: 7px;
}

#profile_image-clear_id {
    display: none;
}

#id_profile_image {
    display: none;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
