body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    color: white;
    font-family: Arial, sans-serif;
}

form {
    padding: 100px;
    border-radius: 20px;
    background-color: white;
    color: black;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-top: 10px;
}

input[type="email"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    text-align: center;
}

button {
    width: 100%;
    padding: 10px 20px;
    margin-top: 50px;
    margin-left: 8px;
    border: none;
    border-radius: 5px;
    background: black;
    color: white;
    cursor: pointer;
}

button:hover {
    border-radius: 5px;
    background: #03e9f4;
    color: #fff;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}
