body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
}

b {
    color: #03e9f4;
}

a {
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: black;
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: #555555;
}
