body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

.login-container {
    padding: 100px;
    border-radius: 20px;
    text-align: center;
    animation: slideIn 1s ease-in-out;
    box-shadow: 0 0 10px #00000033;
}

.login-container p {
    display: flex;
    flex-direction: column;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: #0000001a;
    text-align: center;
}

.login-form input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.login-form input[type="submit"]:hover {
    background-color: #555555;
}

.account-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
