{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/chat/chat.css' %}" />
    <title>채팅하기</title>
</head>

<body>
    {% include "nav.html" %}
    <section class="container column">
        <div class="post-box">
            <div class="chat-select-container">
                <div class="chat-list-box column" id="chat-list-box">
                    <p class="chat-list-title">채팅방 리스트</p>
                    {% for msg in latest_messages %}
                    <div class="chat-box between"
                        onclick="redirectToChat({{ msg.chat_room_id }}, {{ msg.receiver_id }})"
                        data-chat-room-id="{{ msg.chat_room_id }}">
                        <div class="flex-box">
                            <span class="bold">{{ msg.receiver }}</span>
                            <span class="s-text">{{ msg.created_at }}</span>
                            {% if msg.unread_message_count > 0 %}
                            <span class="unread_message_count">{{ msg.unread_message_count }}</span>
                            {% endif %}
                        </div>
                        <div class="message-content">
                            <p class="chat-thumb-text">{{ msg.message|truncatechars:15 }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="chat-main-container">
                {% if room_number > 0 or room_number == -1 %}
                <div class="chat-main">
                    <div class="contact-info" onclick="window.location.href= '/myinfo/{{ user_id }}'">
                        {% if username %}
                        대화상대: {{ username }}
                        {% endif %}
                    </div>
                    <div class="chat-container" id="chat-log">
                        {% if room_number == -1 %}
                        <div class="message-box from-you">
                            <p class="s-text">방금 전</p>
                        </div>
                        {% endif %}
                        {% for chat in chat_msgs %}
                        <div
                            class="message-box {% if chat.username != request.user.username %}from-you{% else %}from-me{% endif %}">
                            {% if chat.username != request.user.username %}
                            <div class="message-text {% if chat.id > first_unread_index %}unread{% endif %}">{{ chat.message }}</div>
                            <p class="s-text">{{ chat.created_at }}</p>
                            {% if not chat.is_read %}<p class="s-text unread"></p>{% endif %}
                            {% else %}
                            {% if chat.is_read %}<p class="s-text"></p>{% else %}<p class="s-text unread-message"></p>{%
                            endif %}
                            <p class="s-text">{{ chat.created_at }}</p>
                            <div class="message-text">{{ chat.message }}</div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <form class="chat-input" id="chat-form">
                    {% csrf_token %}
                    <textarea type="text" id="chat-message-input" name="message" cols="30" rows="10"
                        placeholder="메세지를 입력해주세요"></textarea>
                    <div><button id="chat-message-submit" type="button">전송</button></div>
                </form>
                {% elif room_number == 0 %}
                <!-- room_number가 0일 때 표시할 내용 -->
                {% endif %}
            </div>
        </div>
    </section>
    {% include "chatbot/chatbot.html" %}
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js"></script>
<script>
    const room_number = parseInt('{{ room_number }}');
    const username = '{{ user.username }}';
    let receiver_username = '{{ reciever.username }}';
    const request_user_username = '{{ request.user.username }}';
    const firstUnreadIndex = '{{ first_unread_index }}';
</script>
<script src="{% static 'js/chat/chat.js' %}"></script>

</html>
