main {
    width: 100%;
    max-width: 600px;
    height: 100%;
}

picture {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 300px;
    background-color: white;
}

picture img {
    width: 80%;
    height: 100%;
    background-color: white;
    object-fit: contain;
}

a:hover {
    cursor: pointer;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 70px;
    padding-bottom: 20px;
    margin-bottom: 100px;
}

.post-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 100%;
    padding: 20px;
    padding-top: 100px;
    margin-top: 100px;
    border-radius: 5px;
    background-color: #f7f7f7;
    text-align: center;
    gap: 10px;
    box-shadow: 0 0 10px #0000001a;
    transition: transform 0.3s;
}

.post-container:hover {
    transform: scale(1);
}

#deprecated {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #777777;
    color: white;
    font-size: 48px;
    opacity: 0.7;
}

.title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 36px;
    margin-top: 20px;
}

.title {
    height: inherit;
    color: #3498db;
    font-size: 36px;
    line-height: normal;
}

#status-form {
    height: inherit;
}

#status-select {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: inherit;
    padding-left: 5px;
    border: 0px;
    border-radius: 8px;
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 100%;
    border-radius: 8px;
    background-color: #0077b5;
    color: white;
}

.info-box,
.content-box {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.info-title,
.content-title {
    color: #777777;
}

.info-content,
.content {
    display: block;
    align-items: center;
    padding: 5px;
    border-radius: 8px;
    background-color: #eaeaea;
    font-size: large;
    line-height: normal;
}

.content-box {
    width: 100%;
}

.content {
    width: 100%;
    margin-top: 0px;
}

.tech-stack-conatiner {
    margin: 10px 0;
}

.tech-stack {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    font-size: 14px;
}

.content {
    margin-top: 20px;
    color: #333333;
    font-size: 16px;
}

.subsidiary {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    color: #555555;
    font-size: 12px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    gap: 6px;
    box-shadow: 0 0 5px #0000001a;
}

.card button {
    display: block;
    width: 100%;
    padding: 6px 12px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    background-color: #0077b5;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.redirect-button {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-top: 20px;
}

.button-black {
    padding: 6px 12px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    background-color: #333333;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-black:hover {
    background-color: #555555;
}

.button-black:last-child {
    margin-right: 0;
}
