@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
    --marquee-width: 1500px;
    --marquee-height: 200px;
    --marquee-elements: calc(10 - var(--marquee-elements-displayed));
    --marquee-elements-displayed: 5;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    padding: 55px 0;
    font-size: 38px;
    text-shadow: 0 1px 5px black;
}

a {
    color: black;
    text-decoration: none;
}

#welcome {
    font-family: 'Montserrat', sans-serif;
}

#welcome span {
    font-weight: bold;
    font-size: 115px;
    letter-spacing: 1px;
}

#welcome span .typed-text {
    color: #32dd4c;
    font-weight: normal;
}

#welcome span .cursor {
    display: inline-block;
    width: 3px;
    margin-left: 1px;
    background-color: black;
    animation: blink 1s infinite;
}

#welcome span .cursor.typing {
    animation: none;
}

#member {
    background-color: #f5f5f5;
}

#member-grid {
    display: grid;
    width: 1500px;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 32px;
}

.member-tile {
    border-radius: 10px;
    background-color: black;
    transition: transform 0.3s;
    box-shadow: 0 0 10px #00000033;
}

.member-tile:hover {
    transform: scale(1.1);
}

.member-tile img {
    display: block;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.member-tile span {
    display: block;
    color: white;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
}

#repo-grid {
    display: grid;
    margin: 55px 0;
    grid-template-columns: 460px 345px;
    grid-column-gap: 38px;
}

.repo-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 76px;
    border-radius: 10px;
    background-color: black;
    color: white;
    line-height: 76px;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 0 10px black;
    gap: 5px;
}

.repo-tile:hover {
    background-color: #cd7f32;
}

.repo-tile i {
    font-size: 38px;
}

.repo-tile span {
    font-size: 20px;
}

#project {
    background-color: #f5f5f5;
}

#project-grid {
    display: grid;
    width: 1100px;
    grid-template-columns: repeat(3, 1fr);
    ;
    grid-column-gap: 76px;
}

.project-tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px #00000033;
    transition: transform 0.3s;
    box-sizing: border-box;
}

.project-tile:hover {
    transform: scale(1.1);
}

.project-tile img {
    width: 100%;
}

.project-tile span {
    font-size: 20px;
    text-align: center;
    font-style: italic;
    text-shadow: 0 1px 5px black;
    opacity: 0;
    transition: opacity 0.3s;
}

.project-tile:hover span {
    opacity: 1;
}

.marquee {
    width: var(--marquee-width);
    height: var(--marquee-height);
    background-color: #111111;
    color: #eeeeee;
    overflow: hidden;
}

.marquee-content {
    display: flex;
    list-style: none;
    justify-content: center;
    height: 100%;
    padding-left: calc(var(--marquee-width) * 2);
    animation: scrolling var(--marquee-animation-duration) linear infinite;
}

.marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--marquee-element-width);
    font-size: calc(var(--marquee-height)*3/4);
    flex-shrink: 0;
}

@keyframes blink {
    0% {
        background-color: #cccccc;
    }

    49% {
        background-color: #cccccc;
    }

    50% {
        background-color: transparent;
    }

    99% {
        background-color: transparent;
    }

    100% {
        background-color: #cccccc;
    }
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-3 * var(--marquee-element-width) * var(--marquee-elements)));
    }
}
