{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}" />
<nav class="navbar">
    <div class="navbar-container">
        <h2 id="logo" class="logo"><a href="/index">Hanwooplz</a></h2>
        <ul class="menu-items">
            <li><a href="/portfolio">포트폴리오</a></li>
            <li><a href="/project">팀원모집</a></li>
            <li><a href="/qna">질의응답</a></li>

            {% if request.user.is_authenticated %}
            <li><a href="/chat">채팅</a></li>
            <li class="icon-item">
                <a href="/@{{ request.user.username }}"><i class="fas fa-user"></i></a>
            </li>
            <li class="icon-item">
                <a id="notification-icon"><i class="fas fa-bell"></i></a>
                <span id="notification-mark" class="notification-mark"></span>
                <div id="notification-container" class="notification-container">
                    <div id="notification" class="notification">
                    </div>
                </div>
            </li>
            <li class="icon-item"><a href="/logout"><i class="fas fa-sign-out-alt"></i></a>
            </li>
            {% else %}
            <li class="icon-item"><a href="/login"><i class="fas fa-sign-in-alt"></i></a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<script src="https://kit.fontawesome.com/9695a3f366.js" crossorigin="anonymous"></script>
<script>
    let currentUser = '{{ request.user }}';
</script>
<script src="{% static 'js/notification/notification.js' %}"></script>
