body {
    display: block;
}

main {
    width: 100%;
    margin-top: 64px;
    margin-bottom: 96px;
}

h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

a {
    color: black;
    text-decoration: none;
}

.post-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    padding: 40px 0;
    margin: 0 auto;
}

.select-group {
    float: right;
    width: auto;
    margin-top: 5px;
    text-align: right;
}

.select-text {
    padding: 10px;
    color: gray;
    font-weight: bolder;
    font-size: 120%;
}

.select-dropbox {
    height: 30px;
    font-size: 16px;
}

.select-textbox {
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
}

.posts-grid {
    display: grid;
    width: 100%;
    padding-top: 20px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
}

.post-tile {
    transition: all 0.4s ease-out;
}

.post-tile:hover {
    box-shadow: 0px 35px 77px -17px #000000a3;
    transform: scale(1.005);
}

.post-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: white;
}

.post-thumbnail img {
    width: 100%;
    height: 150px;
    background-color: white;
    object-fit: contain;
}

.post-title {
    margin: 6px 0;
    margin-top: 10px;
    font-size: large;
    line-height: normal;
}

.post-author,
.post-created_at {
    color: gray;
}

.page {
    padding: 20px;
    text-align: center;
}

.no-results {
    margin: 20px 0;
    color: #777777;
    font-size: 24px;
    text-align: center;
}

.button {
    display: flex;
    justify-content: flex-end;
    float: right;
    text-align: center;
    gap: 5px;
}

.button-black {
    width: 70px;
    height: 30px;
    border: 0px;
    border-radius: 5px;
    background-color: #2e2e2e;
    color: white;
    font: 12px 굴림;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
