body {
    display: flex;
    justify-content: center;
    margin: 0;
}

picture {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: white;
}

picture img {
    width: 100%;
    background-color: white;
    object-fit: contain;
}

a {
    color: black;
    text-decoration: none;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 128px 0;
}

.post {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    background-color: #f7f7f7;
    box-shadow: 0 0 10px #0000001a;
    box-sizing: border-box;
}

.title {
    color: #3498db;
    font-size: 36px;
}

.info-box,
.content-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 10px;
}

.info-title,
.content-title {
    color: #777777;
}

.info-content,
.content {
    padding: 5px;
    border-radius: 5px;
    background-color: #eaeaea;
    color: #333333;
    font-size: large;
}

.content {
    width: 100%;
    box-sizing: border-box;
}

.tech-stack-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tech-stack {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    font-size: 14px;
}

.subsidiary {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    color: #555555;
    font-size: 12px;
    gap: 6px;
    box-shadow: 0 0 5px #0000001a;
}

.card>a {
    padding: 6px 12px;
    border-radius: 4px;
    background-color: #3498db;
    color: white;
    font-size: 14px;
    transition: background-color 0.3s;
}

.card>a:hover {
    background-color: #217dbb;
}

.action-button-wrapper {
    display: flex;
    justify-content: right;
    width: 600px;
    margin-top: 10px;
    gap: 5px;
}

.action-button-wrapper a {
    padding: 6px 12px;
    border-radius: 4px;
    background-color: #333333;
    color: white;
    font-size: 14px;
    transition: background-color 0.3s;
}

.action-button-wrapper a:hover {
    background-color: #555555;
}

.action-button-wrapper a:nth-last-child(3):hover {
    background-color: #cc3333;
}
