{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/project/read.css' %}">
    <title>{{ title }}</title>
</head>

<body>
    {% include "nav.html" %}
    <main class="main-container">
        <div class="post">
            <picture>
                {% if status == 0 %}
                <span class="deprecated">모집 중단</span>
                {% elif status == 2 %}
                <span class="deprecated">모집 완료</span>
                {% endif %}
                <img src="{% static 'img/techstack/'|add:tech_stack.0|add:'.svg' %}">
            </picture>
            <div class="title-box">
                <h3 class="title">{{ title }}</h3>
                {% if author_id == request.user.id %}
                <form id="status-form" method="post">
                    {% csrf_token %}
                    <select id="status" name="status">
                        <option value="1">모집중</option>
                        <option value="2">모집완료</option>
                        <option value="0">모집중단</option>
                    </select>
                </form>
                {% elif request.user.is_authenticated and author_id != request.user.id and status == 1 %}
                {% csrf_token %}
                <button class="button-blue" id="join-button" data-recipient-id="{{ author_id }}" data-post-id="{{ post_id }}">참가신청</button>
                {% endif %}
            </div>
            <div class="info-box">
                <span class="info-title">프로젝트 기간</span>
                <span class="info-content">{{ start_date }}~{{ end_date }}</span>
            </div>
            <div class="info-box">
                <span class="info-title">현재 참여인원</span>
                <span class="info-content">{{ members }} 명 / {{ target_members }} 명</span>
            </div>
            <div class="info-box">
                <span class="info-title">기술 스택</span>
                <div class="tech-stack-container">
                {% for ts in tech_stack %}
                    <span class="tech-stack">#{{ ts }}</span>
                {% endfor %}
                </div>
            </div>
            <div class="info-box">
                <span class="info-title">외부 링크</span>
                <span class="info-content">
                    <a href="{{ ext_link }}">{{ ext_link }}</a>
                </span>
            </div>
            <div class="content-box">
                <span class="content-title">내용</span>
                <span class="content">{{ content | safe }}</span>
            </div>
            <div class="subsidiary">
                <div class="card">
                    <span>작성자</span>
                    <span><a href="/@{{ author }}"><b>{{ author }}</b> 님</a></span>
                    {% if request.user.is_authenticated and author_id != request.user.id %}
                    <a href="/chat">채팅하기</a>
                    {% endif %}
                    <span>작성 일시: {{ created_at }}</span>
                    {% if edited_at %}
                    <span>최종 수정 일시: {{ edited_at }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="action-button-wrapper">
            {% if author_id == request.user.id %}
            <a href="/project/delete/{{ project_id }}">삭제</a>
            <a href="/project/edit/{{ project_id }}">수정</a>
            {% endif %}
            <a href="/project">목록으로</a>
        </div>
        {% include "comment/comment.html" %}
    </main>
    <!-- {% include "chatbot/chatbot.html" %} -->
</body>
<script>
    let postId = '{{ post_id }}';
    let currentUser = '{{ request.user }}';
    let projectStatus = '{{ status }}';
    let projectId = '{{ project_id }}';
</script>
<script src="{% static 'js/project/read.js' %}"></script>
<script src="{% static 'js/project/updateStatus.js' %}"></script>

</html>
